html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #E2FFE1;
}

.gameAnalyzer {
  float: left;
}
.boardArea {
  padding: 10px;
}
.analyzerButtons {
  text-align: center;
}

.board {
  width: 420px;
  height: 360px;
  /*background-color: #AAAAAA;*/
  background-color: #DDDDDD;
  /*background-color: #FF0000;*/
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 3px solid grey;
}

.hidden {
  display: none;
}

.boardPiece {
  width: 60px;
  height: 60px;
  background-size: 60px;
  /*background-image: url('assets/pics/board-piece.png'); */
  background-image: url('assets/pics/jijbent-board-piece-transparent.png');
  position: absolute;
  z-index: 2;
}
.yellowDisc {
  width: 60px;
  height: 60px;
  background-size: 60px;
  /*background-image: url('assets/pics/disc-yellow.png');*/
  background-image: url('assets/pics/jijbent-disc-yellow.gif');
  position: absolute;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  z-index: 1;
}
.redDisc {
  width: 60px;
  height: 60px;
  background-size: 60px;
  /*background-image: url('assets/pics/disc-red.png');*/
  background-image: url('assets/pics/jijbent-disc-red.gif');
  position: absolute;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  z-index: 1;
}


/* for text only */
#instruction {
  text-align: center;
  margin-top: 20px;
}

.red {
  color: red;
  font-weight: bold;
}

.yellow {
  color: #e5b115;
  font-weight: bold;
}