html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.boardArea{
  padding: 10px;
  float: left;
}

.board{
  width: 420px;
  height: 360px;
  background-color: #AAAAAA;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 3px solid grey;
}

.hidden{
  display: none;
}

.boardPiece {
  width: 60px;
  height: 60px;
  background-size: 60px;
  background-image: url('board_piece.png');
  position: absolute;
  z-index: 2;
}
.yellowDisc {
  width: 60px;
  height: 60px;
  background-size: 60px;
  background-image: url('disc-yellow.png');
  position: absolute;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  z-index: 1;
}
.redDisc {
  width: 60px;
  height: 60px;
  background-size: 60px;
  background-image: url('disc-red.png');
  position: absolute;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  z-index: 1;
}


#instruction{
  text-align: center;
  margin-top: 20px;
}

.red{
  color: red;
  font-weight: bold;
}

.yellow {
  color: #e5b115;
  font-weight: bold;
}